* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


/* HEADER */
/*-- ___________________________________________________________________________________________________________________________ */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: auto;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 161px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

nav a:hover {
    background-color: white;
    border-radius: 5px;
    color: #95bafe;
}

/* FUNDO AZUL */
/*-- ___________________________________________________________________________________________________________________________ */



/* "FAÇA O LOGIN [FRASE NO TOPO]" */
/*-- ___________________________________________________________________________________________________________________________ */

.intro{
    margin-left: 100px;
}

/* AJUSTA AS CAIXAS DE PERGUNTAS */
/*-- ___________________________________________________________________________________________________________________________ */

section{
    display: flex;
    align-items: cenTer;
    justify-content: Center;
    height: 40vh;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 15px;
    min-width: 300px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
}

form input:focus, form textarea:focus {
    background-color: wheat;
}

form input[type=button] {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}


form label {
    margin-left: 10px;
}

/* BOTÃO DE LOGIN */
/*-- ___________________________________________________________________________________________________________________________ */

.entrar{
    margin-left: 12px;
}

/* CARRINHO DE COMPRA */
/*-- ___________________________________________________________________________________________________________________________ */

.compra {
    width: 35px;
    height: 35px;
}

/* opção criar conta embaixo do login */
.link {
    color: blue;
    margin-left: 125px;
}

/*  */
/*  */
/*  */

/* ________________________________________________________________________________________________________________________ */
 /* FOOTER */

 footer {
    background-color: #234C8A;
    padding: 50px 0;
 }

 .container-footer {
    max-width: auto;
    padding: 0 4%;
    margin: auto;
    
 }

 .row-footer {
    display: flex;
    /* flex-wrap: wrap; */
 }

 .col-footer {
    width: 25%;
    padding: 0 15px;
 }

 .col-footer img {
    width: 300px;
    height: auto;
    max-width: 500px;
    margin-right: 200px;
    margin-top: -40px;
 }

 .col-footer h4 {
    font-size: 20px;
    color: #E0CD80;
    margin-bottom: 20px;
    position: relative;
 }

 .col-footer ul {
    list-style: none;
 }

 .col-footer ul li {
    margin: 10px 0;

 }

 .col-footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #E0CD80;
    transition: all 0.3s ease;
 }

.col-footer ul li a:hover {
    color: #E0CD80;
    padding-left: 5px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
 /*  */
 /*  */

 .cart-page {
    margin: 80px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;
}
th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #234C8A;
    font-weight: normal;
}
td {
    padding: 10px 5px;
    margin-right: 500px;
}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-right: 400px;
}
td a {
    color: #1D3B5E;
    font-size: 12px;
}
.subtotais{
    margin-right: 100px;
}

.valor {
    margin-right: -500px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-left: 00px;
    
}
.total-price table {
    border-top: 3px solid #1D3B5E;
    width: 100%;
    max-width: 400px;
    
}
td:last-child {
    text-align: right;
}
th:last-child {
    text-align: right;
}

/* _____________________________________________________________ */
/* Métodos de pagamento e Subtotais (Página Pagamentos) */

.container-pag {
    max-width: 960px;
    margin: 0 auto;
    margin-left: 1px;
    padding: 30px 5px;
}
.container-pag h4 {
    color: #1D3B5E;
    padding-bottom: 20px;

}

.parte {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.parte input[type="radio"] {
    margin-right: 10px;
}

.parte label {
    margin-right: 20px;
    text-align: left;
}

.iconify {
    padding: 0 10px;
}

tr td div img {
    width: 180px;
    height: 180px;
    margin-left: 30px;
}


.pacote {
    padding: 50px;
    margin-left: -40px;
}

