/* Header*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1600px;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 161px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

nav a:hover {
    background-color: white;
    color: #95bafe;
}

nav li img {
    width: 35px;
    height: 35px;
}

.topde {
    
position: absolute;
width: 344.72px;
height: 63px;
left: 47px;
top: 142px;
filter: drop-shadow(0px 4px 4px rgba(0, 41, 255, 0.5));
background-color: #95bafe;
}

 /* Página contato*/ 

.formscontato {
  
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 60%;
    margin-top: 80px; /*Alterar posição*/
}


.mapa  {
    display: auto;
    margin: auto;
    margin-left: 7%;
    margin-top: -547px; /*Alterar posição*/
}

.inputcontato {
    border: 3px solid #95bafe;
    width: 399px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 63px;
    background-color: #d9d9d9;
}

.caixatextocontato {
    Border: 4px solid #95bafe;
    width: 500px;
    -moz-box-sizing: border-box; 
     box-sizing: border-box;
    height: 9em;    
}

.textareacontato{
    width: 493px;
    height: 10.3em;
    border: none;
    background-color: #d9d9d9;
}
.botaocontato [type=submit] {
    background-color: #95bafe;
    width: 399px;
    height: 50px;
    border: none;
}

.botaocontato a:hover { /*ajuda*/
    background-color: #1d3b5e;
    color: #e0cd80;
}

.redes {
    margin-left: 7%;
    margin-top: 5%;
}
.sociais { 
    margin-left: -25px;
    list-style: none;
    display: flex; 
    align-items:start
    flex-direction row;
    width: 15vw;
    justify-content: space-around;
}

.titulo1 {
    font-size: 30px;
} 
.titulo2 {
    font-size: 30px;
} .titulo3 {
    font-size: 30px;
}
.titulo4 {
    font-size: 30px;
}

.aplicativos { /*Use nosso app*/
    display: flex;
    flex-direction: column;
   padding-right:5px;
    margin: auto;
    margin-left: 60%;
    margin-top: -10%
}


.logoapp {
    justify-content: space-between;
}


/* Rodapé */
