* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1600px;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.plano-de-fundo {
    background-image: url(img/fundo.jpeg);
    width: 100%;
    height: 130vh;
    opacity: 100%;
}

.logo img {
    width: 161px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

nav a:hover {
    background-color: white;
    color: #95bafe;
     }



form div {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: -500PX;
}

form input,
form textarea {
    padding: 20px;
    min-width: 100px;
    border: 3px solid rgb(6, 78, 212);
    border-radius: 10px;
    background-color: cornflowerblue;
    color: black;
    justify-content: space-around;
    margin: 70px;
    margin-top: -300px;



}

.interesse input {
    padding: 8px;
    min-width: 400px;
    background-color: grey;
    opacity: 90%;


}

.interesse input::placeholder {
    color: black;
    
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h1 {
    padding: 10px;
    min-width: 200px;
    width: 40px;
    border: 3px solid rgb(6, 78, 212);
    border-radius: 10px;
    background-color: cornflowerblue;
    color: black;
    justify-content: space-around;
    margin: 70px;
    font-size: 20px;
    display: flex;
    margin-top: -750px;
    margin-left: 20%;
}
.pacote1 {
    width: 400px;
    height: 185px;
    background-color: #95bafe;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 150px;
}

.estrela {
    width: 10px;
    height: 10px;
    margin-left: 220px;
    margin-top: -25px;
    display: flex;   
    margin-left: 270px;
   }

.imagem1 img {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 150px;
    border-radius: 10px;
    margin-top: -55px;
    

}

.amora h2 {
    display: flex;
    text-align: center;
    margin-left: 40px;
}


.preco {
    display: inline-block;
    width: 200px;
    height: 75px;
    background-color: #595FFD;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: -40px;
    
}
.preco:hover {
    background: linear-gradient(#595FFD 40%, grey  90%);
}

.pacote2 {
    width: 400px;
    height: 185px;
    background-color: #95bafe;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: -400px ;
    
}

.pacote2:hover {
    color: white;
    border: #595FFD 3px;
}

.pacote1:hover {
    color: white;
    border: #595FFD 3px;
}

.imagem2 img {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 150px;
    border-radius: 10px;
    margin-top: -81px;

}

.Porto h2 {
    display: flex;
    text-align: center;
    margin-left: 40px;
}


.preco {
    display: inline-block;
    width: 200px;
    height: 75px;
    background-color: #595FFD;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: -40px;
    
}


.rating .fa, .fa-solid {
    color: black;
}

.ajuda {
    width: 300px;
    height: 100px;
    background-color: #95bafe;
    color: white ;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 100px;
}


.incluse h2 {
    margin-left: 230px;
    margin-top: -35px;
}
