* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: auto;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 161px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease;

}

nav a:hover {
    background-color: #234C8A;
    color: #E0CD80;
    border-radius: 5px;
}

nav li img {
    width: 35px;
    height: 35px;
}

.topde {
    
position: absolute;
width: 344.72px;
height: 63px;
left: 47px;
top: 142px;
filter: drop-shadow(0px 4px 4px rgba(0, 41, 255, 0.5));
background-color: #95bafe;
}
/* _________________________________________________ */
.plano-de-fundo {
    background-image: url(img/fundo.jpeg);
    width: 100%;
    height: 140vh;
    opacity: 100%;
}


form div {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: -500PX;
}

form input,
form textarea {
    padding: 20px;
    min-width: 100px;
    border: 3px solid rgb(6, 78, 212);
    border-radius: 10px;
    background-color: cornflowerblue;
    color: black;
    justify-content: space-around;
    margin: 70px;
    margin-top: -300px;



}

.interesse input {
    padding: 8px;
    min-width: 400px;
    background-color: grey;
    opacity: 90%;


}

.interesse input::placeholder {
    color: black;
    
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}

h1 {
    padding: 10px;
    min-width: 200px;
    width: 40px;
    border: 3px solid rgb(6, 78, 212);
    border-radius: 10px;
    background-color: #1D3B5E;
    color: #E0CD80;
    justify-content: space-around;
    margin: 70px;
    font-size: 20px;
    display: flex;
    margin-top: -750px;
    margin-left: 20%;
}
.pacote1 {
    width: 400px;
    height: 185px;
    background-color: #95bafe;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 150px;
}
.pacote1 a {
    color: white;
}
.pacote2 a {
    color: white;
}

.estrela {
    width: 10px;
    height: 10px;
    margin-left: 220px;
    margin-top: -25px;
    display: flex;   
    margin-left: 270px;
   }

.imagem1 img {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 150px;
    border-radius: 10px;
    margin-top: -65px;
    

}

.amora h2 {
    display: flex;
    text-align: center;
    margin-left: 40px;
}


.preco {
    display: inline-block;
    width: 200px;
    height: 75px;
    background-color: #595FFD;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: -40px;
    
}
.preco:hover {
    background: linear-gradient(#1D3B5E 40%, grey  90%);
}

.pacote2 {
    width: 400px;
    height: 185px;
    background-color: #95bafe;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: -400px ;
    
}

.pacote2:hover {
    color: white;
    border: #595FFD 3px;
}

.pacote1:hover {
    color: white;
    border: #595FFD 3px;
}

.imagem2 img {
    display: flex;
    width: 250px;
    height: 150px;
    margin-left: 150px;
    border-radius: 10px;
    margin-top: -98px;

}

.Porto h2 {
    display: flex;
    text-align: center;
    margin-left: 40px;
}


.preco {
    display: inline-block;
    width: 200px;
    height: 75px;
    background-color: #1D3B5E;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: -40px;
    
}


.rating .fa, .fa-solid {
    color: black;
}

.ajuda {
    width: 300px;
    height: 100px;
    background-color: #95bafe;
    color: white ;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 100px;
    text-decoration: none;
}


.incluse h2 {
    margin-left: 230px;
    margin-top: -35px;
}

footer {
    background-color: #234C8A;
    padding: 50px 0;
    height: 340px;
 }

 .container-footer {
    max-width: auto;
    padding: 0 4%;
    margin: auto;
 }

 .row-footer {
    display: flex;
    /* flex-wrap: wrap; */
 }

 .col-footer {
    width: 25%;
    padding: 0 15px;
 }

 .col-footer img {
    width: 300px;
    height: auto;
 }

 .col-footer h4 {
    font-size: 20px;
    color: #E0CD80;
    margin-bottom: 20px;
    position: relative;
 }

 .col-footer ul {
    list-style: none;
 }

 .col-footer ul li {
    margin: 10px 0;

 }

 .col-footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #E0CD80;
    transition: all 0.3s ease;
 }

 .col-footer ul li a:hover {
    color: #E0CD80;
    padding-left: 5px;

 }

 .direitos {
    position: absolute;
    bottom: -850px; 
    width: 100%;
    text-align: center;
    line-height: 100px; 
    color: #E0CD80;
    height: 180px;
}

 
