* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* HEADER */
/*-- ___________________________________________________________________________________________________________________________ */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: auto;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* LOGO EMPRESA */
/*-- ___________________________________________________________________________________________________________________________ */

.logo img {
    width: 111px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

nav a:hover {
    background-color: white;
    border-radius: 5px;
    color: #95bafe;
}



/* AJUSTA O VOLTAR PARA HOME E A IMAGEM "CHECK" */
/*-- ___________________________________________________________________________________________________________________________ */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form label {
    margin-left: 10px;
}

/* "LOGIN FEITO COM SUCESSO" */
.conta {
    margin-left: 39%;
}


/* BOTÃO VOLTAR PARA HOME */
.home {
    margin-left: 27%;
    margin-top: -130px;
}

form input, form textarea {
    padding: 15px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    width: 50px;
}

/* CARRINHO DE COMPRA */
/* _____________________________________________________________________ */

.compra {
    width: 35px;
    height: 35px;
}

/* FUNDO AZUL */
/*-- ___________________________________________________________________________________________________________________________ */

.boxmodel2 {
    width: 600px;
    height: 550px;
    background-color: #95bafe;
    margin: auto;
    align-items: center;
    border-radius: 20px;
    margin-top: -100px;
}

.boxmodel2 a {
    padding: none;
    /* background-color: blue; */
    color: white;
    text-decoration: none;
    font-size: x-large;
    position: relative;
    left: 60px;
    transition: padding-top 0.5s ease;
}

.boxmodel2 a:hover {
    color: wheat;
    padding-top: 10px;
    text-decoration: underline;
}

/* IMAGEM DE "CHECK" */
.correto {
    margin-top: -190px;
    width: 250px;
    height: 250px;
    margin-left: 50px;
}

/* ________________________________________________________________________________________________________________________ */
 /* FOOTER */

 footer {
    background-color: #234C8A;
    padding: 50px 0;
 }

 .container-footer {
    max-width: auto;
    padding: 0 4%;
    margin: auto;
    
 }

 .row-footer {
    display: flex;
    /* flex-wrap: wrap; */
 }

 .col-footer {
    width: 25%;
    padding: 0 15px;
 }

 .col-footer h4 {
    font-size: 20px;
    color: #E0CD80;
    margin-bottom: 20px;
    position: relative;
 }

 .col-footer ul {
    list-style: none;
 }

 .col-footer ul li {
    margin: 10px 0;

 }

 .col-footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #E0CD80;
    position: relative;
    transition: padding-left 0.3s ease;
 }

 .col-footer ul li a:hover {
    padding-left: 5px;
 }
 .direitos {
    position: absolute;
    bottom: -850px; 
    width: 100%;
    text-align: center;
    line-height: 100px; 
    color: #E0CD80;
}
  

 .col-footer img {
    width: 250px;
    height: auto;
    max-width: 500px;
    margin-right: 200px;
    margin-top: -40px;
 }

 body {
    background-image: url(céu1.jpg);
    background-size: cover;
}

/* termos e politica copyright */
.termos {
    padding-left: 00px;
    text-align: center;
}

.politica {
    color: blue;
}

.direitos {
    position: absolute;
    bottom: -580px; 
    width: 96%;
    text-align: center;
    line-height: 100px; 
    color: #E0CD80;
}


