* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1600px;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.plano-de-fundo {
    background-image: url(img/fundo.jpeg);
    width: 100%;
    height: 130vh;
    opacity: 100%;
}

.logo img {
    width: 161px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

nav a:hover {
    background-color: white;
    color: #95bafe;
     }

    
.carrinho {
    height: 120px;
    width: 250px;
    border-radius: 10px;
    background-color: #1f3763;
    margin-top: 120px;
    margin-left: 30px ;
    
}

.carrinho h1{
    color: rgb(225, 205, 104);
    align-items: center;
    text-align: center;
    
}

.agendamento1 {
    height: 30px;
    border-radius: 10px;
    width: 800px;
    background-color: grey;
    margin: 30px;
    margin-top: 80px;
}

.agendamento2 {
    height: 30px;
    border-radius: 10px;
    width: 800px;
    background-color: grey;
    margin: 30px;
}

.agendamento3 {
    height: 30px;
    border-radius: 10px;
    width: 800px;
    background-color: grey;
    margin: 30px;
}

.agendamento4 {
    height: 30px;
    border-radius: 10px;
    width: 800px;
    background-color: grey;
    margin: 30px;
}

.conosco {
    height: 180px;
    width: 180px;
    background-color: #8db3f8;
    display: flex;
    margin-top: -230px;
    margin-left: 900px;
    border-radius: 10px;
}

.conosco h2 {
    margin: 10px;
    font-size: 20px;
    
 }


input[type=button] {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    margin-left: 1000px;
    margin-top: -45px;
    display: flex;
    background-color:#1f3763;
    color: white;
}

.aviao {
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 1020px;
    margin-top: -60px;
}

.barco {
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 1020px;
    margin-top: -80px;
}

.cama {
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 1020px;
    margin-top: -70px;
}

.ajuda2 {
    width: 300px;
    height: 100px;
    background-color: #95bafe;
    margin-top: 250px;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    margin-left: 130px;
    color: white;
 }

 .mao2 {
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 380px;
    margin-top: -60px;
    
}

footer {
    background-color: #234C8A;
    padding: 50px 0;
    margin-top: 80px;
}

.container-footer {
    max-width: auto;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
}
 .col-footer {
    width: 25%;
    padding: 0 15px;
 }

 .col-footer img {
    width: 300px;
    height: auto;
 }

 .col-footer h4 {
    font-size: 20px;
    color: #E0CD80;
    margin-bottom: 20px;
    position: relative;
 }

 .col-footer ul {
    list-style: none;
 }
 .col-footer ul li {
    margin: 10px 0;
 }

 .col-footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #E0CD80;
    transition: all 0.3s ease;
 }

 .col-footer ul li a:hover {
    color: #E0CD80;
    padding-left: 5px;
 }

 .container-denis {
    margin-top: 100px;
    top: 300px;
    margin: 150px;
    height: 150px;
    width: 1200px;
    border-radius: 10px;
    background-color: #1f3763;
 }

 .Denis {
    color: white;
    margin: 30px;
 }

 .email-denis {
    color: white;
    margin: 30px;
 }

 .email-denis2 {
    color: white;
    margin-left: 300px;
    margin-top: -70px;
 }
 .editar-perfil {
    text-decoration: none;
    color: white;
    margin-left: 950px;
    margin-top: -50px;
 }
 .mala {
    border-radius: 520px;
    display: flex;
    margin-left: 1060px;
    margin-top: -70px;
    height: 90px;
    width: 80px;
 }