@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    margin:0; 
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    font-family: 'Nunito';
}

.container{
    padding:15px 9%;
    padding-bottom: 100px;
    color: black;
}

.container:hover {
    color: #E0CD80;
}

.container .heading{
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
    background-color: #1D3B5E;
    color:#E0CD80;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 30px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.container .box-container-sobreaskywaytrip {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
    color: #E0CD80;
}

.container .box-container-sobreaskywaytrip .boxsobreaempresa {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    color: black;
    background: #95BAFE;
    text-align: center;
    padding: 30px 20px;
    transition: all 0.3s ease;
}

.container .box-container-sobreaskywaytrip .boxsobreaempresa:hover {
    background-color: #234C8A;
    color: #E0CD80;
}

.container .box-container-sobreaskywaytrip .boxsobreaempresa h3 {
    font-size: 22px;
    padding:10px 0;
}


.container .box-container-sobreaskywaytrip .boxsobreaempresa p {
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container-sobreaskywaytrip .boxsobreaempresa ul li {
    font-size: 15px;
    line-height: 1.8;
}



@media (max-width:768px){
    .container{
        padding:20px;
    }
} 
/* Footer */
footer {
    background-color: #234C8A;
    padding: 50px 0;
 }

 .container-footer {
    max-width: auto;
    padding: 0 4%;
    margin: auto;
 }

 .row-footer {
    display: flex;
    /* flex-wrap: wrap; */
 }

 .col-footer {
    width: 25%;
    padding: 0 15px;
 }

 .col-footer img {
    width: 300px;
    height: auto;
 }

 .col-footer h4 {
    font-size: 20px;
    color: #E0CD80;
    margin-bottom: 20px;
    position: relative;
 }

 .col-footer ul {
    list-style: none;
 }

 .col-footer ul li {
    margin: 10px 0;

 }

 .col-footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #E0CD80;
    transition: all 0.3s ease;
 }

 .col-footer ul li a:hover {
    color: #E0CD80;
    padding-left: 5px;

 }

 .direitos {
    position: absolute;
    bottom: -850px; 
    width: 100%;
    text-align: center;
    line-height: 100px; 
    color: #E0CD80;
}
