/*Header*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito'
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: auto;
    height: 94px;
    left: 0px;
    top: 0px;
    background: #95bafe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 161px;
    height: 94px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
    width: 1091px;
    height: 54px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 1265px;
    height: 94px;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 82px;
    width: 755px;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease;

}

nav a:hover {
    background-color: #234C8A;
    color: #E0CD80;
    border-radius: 5px;
}

nav li img {
    width: 35px;
    height: 35px;
}

.topde {
    
position: absolute;
width: 344.72px;
height: 63px;
left: 47px;
top: 142px;
filter: drop-shadow(0px 4px 4px rgba(0, 41, 255, 0.5));
background-color: #95bafe;
}
/* ____________________________________________________________________________________________ */
/*Pacotes*

/* ARRUMAR ISSO AQUIIII */

.topde p {
    display: flex;
    /* position: absolute; */
    width: 288px;
    height: 38px;
    left: 77px;
    top: 156px;
    text-align: center;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    margin-left: 45px;
    margin-top: auto;
    justify-content: space-around;
    

}

.topde a {
    text-decoration: none;
    text-align: center;
    
}
/* ____________________________________________________________________________________________ */
/* Contato */
.formscontato {
  
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 60%;
    margin-top: 80px; /*Alterar posição*/
}


.mapa  {
    display: auto;
    margin: auto;
    margin-left: 7%;
    margin-top: -547px; /*Alterar posição*/
}

.inputcontato {
    border: 3px solid #95bafe;
    width: 399px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 63px;
    background-color: #d9d9d9;
}

.caixatextocontato {
    Border: 4px solid #95bafe;
    width: 500px;
    -moz-box-sizing: border-box; 
     box-sizing: border-box;
    height: 9em;    
}

.textareacontato{
    width: 493px;
    height: 10.3em;
    border: none;
    background-color: #d9d9d9;
}
.botaocontato [type=submit] {
    background-color: #95bafe;
    width: 399px;
    height: 50px;
    border: none;
}

.botaocontato a:hover { /*ajuda*/
    background-color: #1d3b5e;
    color: #e0cd80;
}

.redes {
    margin-left: 7%;
    margin-top: 5%;
}
.sociais { 
    margin-left: -25px;
    list-style: none;
    display: flex; 
    align-items:start
    flex-direction row;
    width: 15vw;
    justify-content: space-around;
}

.titulo1 {
    font-size: 30px;
} 
.titulo2 {
    font-size: 30px;
} .titulo3 {
    font-size: 30px;
}
.titulo4 {
    font-size: 30px;
}

.aplicativos { /*Use nosso app*/
    display: flex;
    flex-direction: column;
   padding-right:5px;
    margin: auto;
    margin-left: 60%;
    margin-top: -10%
}


.logoapp {
    justify-content: space-between;
}

/* ____________________________________________________________________________________________ */
/* Agendamento  */

.texto {
    position: absolute;
    width: 475px;
    border-radius: 10px;
    height: 63px;
    left: 144px;
    top: 151px;
    margin-right: 170px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 1000;
    font-size: 40px;
    line-height: 55px;
    color: #E0CD80;
    text-align: center;
    background-color: #1D3B5E;
}

.localviagemagendar img {
    position: relative;
    width: 300px;
    height: 200px;
    top: 110px;
    left: 950px;
    border: #000000 solid;
    border-radius: 15px;

}

.ida {
    position: absolute;
    width: 406px;
    height: 38px;
    left: 150px;
    top: 257px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
     color: #4784F5;
}

 input {
    width: 399px;
    height: 63px;
    border-radius: 5px;
    background: #D9D9D9;
} 
.input {
    position: relative;
    width: 399px;
    height: 63px;
    top: 150px;
    left: 911px;
    border-radius: 5px;
    border: #95bafe;
    background: #D9D9D9;
}
div div input {
    width: 20px;
    height: 40px;
}

.calendar {
    position: absolute;
width: 389px;
height: 262px;
left: 144px;
top: 329px
}

.parte {
    width: 10px;
    height: 10px;
}



.forms {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 60%;
    margin-top: 10%;
    width: 40px;
    height: 40px;
    top: 400px;
}

.quantas {
    position: relative;
    display: flex;
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #4784F5;
    left: 911px;
    width: 600px;
    top: 150px;
}

.embarque {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #4784F5;
    left: 911px;
    width: 600px;
    top: 150px;
}

.container-pag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 911px;
    top: 870px;
}

.pagamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 332px;
    height: 32px;
    left: 911px;
    top: 650px;
    width: 332px;
    height: 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    color: #4784F5;
    mix-blend-mode: normal;
    margin-top: 150px;
    margin-left: -20px;
    
}

.pix {
    width: 80px;
}

.visa {
    width: 40px;
    
}

.boleto {
    width: 40px;
}

.mastercard {
    width: 40px;
}

.valortotal {
width: 201px;
height: 32px;
left: 559px;
top: 756px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;

}

.total {
      font-weight: bold;
}

.finalização {
    position: absolute;
    display: block;
    top: 500px;
    margin-left: 150px;
    color: #4784F5;
}

.subtotal {
    color: black;
    text-decoration: underline;
}

.taxas {
    color: black;
    text-decoration: underline;
}

.finalizarcompra {
    position: relative;
    display: flex;
    top: 150px;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #4784F5;
    box-shadow: 10;
    margin-left: 160px;
    text-align: center;
    margin-top: -140px;
    align-items: center;
    transition: all 0.3s ease;
}

.finalizarcompra:hover {
    background-color: #1D3B5E;
    color: #E0CD80;
}

/* __________________________________________________________________________________ */
/* Página de Cancelamento */

.informaçõesviagem {
    position: absolute;
    width: 400px;
    height: 65px;
    left: 67px;
    top: 140px;
    color: #E0CD80;
    background: #1D3B5E;
    border-radius: 10px;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    padding-top: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}



.informaçõesviagem a {
    text-decoration: none;
    color: #000000;
}

.disney img {
    width: 400px;
    height: auto;
    position: relative;
    top: 150px;
    left: 900px;
    border: #000000 solid;
    border-radius: 30px;
}

.informaçãoprecisa {
    position: relative;
    width: 441px;
    height: 48px;
    left: 120px;
    top: 190px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    color: #000000;
    transition: all 0.3s ease;
}

.informaçãoprecisa:hover {
    padding-left: 5px;
}

.informaçãoprecisa p strong {
    text-decoration: underline;
}

.quantiaeforma {
    position: absolute;
    width: 768px;
    height: 68px;
    left: 120px;
    top: 350px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    color: #000000;
    transition: all 0.3s ease;
}

.quantiaeforma:hover {
    padding-left: 5px;
}

.quantiaeforma p strong{
    text-decoration: underline;
}

.valortotalcancelamento {
    position: absolute;
    width: 557px;
    height: 68px;
    left: 120px;
    top: 800px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    color: #000000;
    text-decoration: underline;
}

.desejacancelar {
    flex-direction: column;
    position: absolute;
    background: #95BAFE;
    color: white;
    width: 180px;
    height: 170px;
    border-radius: 15px;
    left: 1250px;
    top: 550px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    justify-items: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: all 0.3s ease;
}

.desejacancelar:hover {
    background-color: #234C8A;
    color: white;
    padding-left: 5px;
}

.desejacancelar p {
    padding-left: 15px;
    padding-top: 5px;;
}

.desejacancelar a {
    text-decoration: none;
    color: black;
}

.desejacancelar a:hover {
    color: white;
}


.botaoprecisadeajuda {
    position: absolute;
    background: #95BAFE;
    color: #FFFFFF;
    border-radius: 15px;
    width: 430px;
    height: 100px;
    bottom: 0%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 9px;
    text-align: center;
    top: 1000px;
    left: 1000px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: all 0.3s ease;
}

.botaoprecisadeajuda:hover {
    background-color: #234C8A;
    color: #FFFFFF;
    padding-left: 5px;
}


 .botaoprecisadeajuda p {
    padding-top: 20px;
    margin-top: 5px;
 }

 .botaoprecisadeajuda a {
    text-decoration: none;
    color: black;
 }

 .botaoprecisadeajuda a:hover {
    color: white;
 }

 .botaoprecisadeajuda p img {
    color: #000000;
    position: relative;
    width: 70px;
    height: 35px;
 }

 /* ________________________________________________________________________________________________________________________ */
 /* FOOTER */

 footer {
    background-color: #234C8A;
    padding: 50px 0;
 }

 .container-footer {
    max-width: auto;
    padding: 0 4%;
    margin: auto;
 }

 .row-footer {
    display: flex;
    /* flex-wrap: wrap; */
 }

 .col-footer {
    width: 25%;
    padding: 0 15px;
 }

 .col-footer img {
    width: 300px;
    height: auto;
 }

 .col-footer h4 {
    font-size: 20px;
    color: #E0CD80;
    margin-bottom: 20px;
    position: relative;
 }

 .col-footer ul {
    list-style: none;
 }

 .col-footer ul li {
    margin: 10px 0;

 }

 .col-footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #E0CD80;
    transition: all 0.3s ease;
 }

 .col-footer ul li a:hover {
    color: #E0CD80;
    padding-left: 5px;

 }
